/* AboutMe.css */

#about-me.card {
  background: #ffffff; /* Clean white background for a fresh look */
  border-radius: 20px; /* Rounded corners for a modern look */
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1); /* Softer shadow for depth */
  padding: 2rem; /* Spacing inside the card */
  display: flex;
  flex-direction: row; /* Align children horizontally */
  align-items: center; /* Center items vertically */
  justify-content: space-around; /* Evenly space out the child elements */
  margin: 2rem auto; /* Centering the card with consistent spacing */
  max-width: 95%; /* Adjust to ensure it aligns well with the rest of the content */
  height: auto; /* Adaptive height based on content */
}

.card-avatar {
  --size: 150px; /* Avatar size */
  width: var(--size);
  height: var(--size);
  border-radius: 50%; /* Circle shape */
  background-size: cover; /* Ensure the image covers the circle */
  background-position: center; /* Center the image */
  margin-right: 2rem; /* Space between avatar and info */
}

.card-info {
  text-align: center;
  flex: 1; /* Adjusted for balanced spacing */
}

.about-me-content {
  text-align: justify; /* Justify text for a polished look */
  color: #333; /* Consistent text color for readability */
  margin-bottom: 20px; /* Spacing below the content */
}

.card-title {
  font-size: 2rem; /* Updated font size for harmony */
  color: #2c3e50; /* Navy color for a professional vibe */
  font-family: 'Poppins', sans-serif; /* Consistent with the rest of the site */
}

.card-subtitle {
  font-size: 1rem; /* Adjusted for visual hierarchy */
  color: #636e72; /* Slate grey for subtlety */
  font-family: 'Poppins', sans-serif; /* Keeping font consistency */
}

.card-social {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px; /* Visual separation */
}

.card-social__item a {
  color: #333; /* Default state color */
  transition: color 0.3s ease; /* Smooth transition */
}

.card-social__item a:hover {
  color: #3498db; /* Bright blue for an engaging hover effect */
}

#about-me.card:hover {
  box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.05); /* Lighter shadow for a subtle hover effect */
}

.card-social__item img,
.card-social__item svg {
  width: 24px; /* Slightly larger for visibility */
  height: 24px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  #about-me.card {
    flex-direction: column; /* Vertical stacking on smaller screens */
    padding: 1.5rem; /* Adjusted padding for consistency */
  }

  .card-avatar {
    margin: 0 auto 1rem; /* Center avatar and add spacing below */
  }

  .card-info, .card-social {
    text-align: center; /* Center alignment for a cohesive look */
  }

  .card-social {
    margin-top: 1rem; /* Space between content and social icons */
  }
}
